body{
    background-color: lightcoral;
}
p{
    font-size: 40px;
    color: navy;
    font-family: cursive;
}
a{
    font-family: sans-serif;
    font-size: 50px;
    color: red;
}
em{
    font-size: 60px;
    color:yellow;
    font-size: 70px;
}

p em{
    color: thistle;
}
p strong{
    color: rgb(42, 165, 73);
}