h1 span {
    color: lawngreen;
    font-size: 50px;
}
p span {
    color: lightpink;
    font-size: 45px;
}
/* unvisited link */
a:link {
    color: yellowgreen;
  }
  
  /* visited link */
  a:visited {
    color: grey;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
 